/*=======FONTS===========*/
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

/*==========RESET============*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1rem;
}

body {
  background: black;
}

/*=======GAME=========*/

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Press Start 2P", cursive;
  color: lightcoral;
  text-align: center;
  margin-top: 1rem;
  font-size: 30px;
}

p {
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: lightcoral;
  font-weight: bold;
  font-size: 20px;
}

canvas {
  align-items: center;
}

/*======FOOTER======*/
footer {
  margin-top: 1rem;
  background: linear-gradient(
    90deg,
    rgb(180, 58, 58) 13%,
    rgb(69, 252, 179) 58%,
    rgb(253, 29, 29) 94%
  );
  font-size: 20px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
